{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="card box-shadow m-2 form-wrap">
                <div class="card-header text-center">
                    <h3>ФИО по падежам</h3>
                </div>
                <form id="form" class="p-3" action='' method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-4 mb-0">
                            <label for="lastname">Фамилия</label>
                            <input id='lastname' type="text" class="form-control" placeholder="Введите фамилию" value="" name="lastname">
                        </div>
                         <div class="form-group col-md-4 mb-0">
                            <label for="name">Имя</label>
                            <input id='name' type="text" class="form-control" placeholder="Введите имя" value="" name="name">
                        </div>
                       <div class="form-group col-md-4 mb-0">
                            <label for="fname">Имя</label>
                            <input id='fname' type="text" class="form-control" placeholder="Введите отчество" value="" name="fname">
                        </div>
                    </div>
                    <hr>
                    {% if fio_ps %}
                        <div class="card col-6 p-0 m-auto">
                            {% for fio_p in fio_ps %}
                            <div class="card-header text-center">
                                    <h5><b>{{ fio_p }}</b></h5>
                            </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="submit-btn mt-3">
                        <button type="submit" class="btn btn-primary">Пропадежевировать</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}